.button_view_submit-disabled{
    color: #000000;
    background-color: #E5E5E5;
    border: 1px solid #000000;
    box-sizing: border-box;
    cursor: auto;
  }
  
  .popup_view_submit-disabled:hover {
    opacity: 0.2;
  }
