.gallery__item {
    max-width: 100%;
    grid-area: 'figure';
    background-color: white;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;

}

@media screen and (max-width: 814px) {
    .gallery__item {
        max-width: 282px;
        margin: 0 auto;
    }
}
