.button_popup_close {
    position: absolute;
    top: -42px;
    right: -42px;
    background-image: url(../../../images/Close_Icon.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: block;
    border: none;

}

.button_popup_close:hover {
    opacity: 50%;
    cursor: pointer;
    transition: opacity 0.3s linear;
}

@media screen and (max-width: 320px) {
    .button_popup_close {
        background-size: 20px;
        top: -36px;
        width: 20px;
        height: 20px;
    }
}
