.button_popup_submit {
    background: #000000;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    margin-top: 17px;
    max-width: 358px;
    height: 50px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.button_popup_submit:hover {
    opacity: 80%;
    transition: opacity 0.3s linear;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .button_popup_submit {
        font-size: 14px;
        line-height: 17px;
        height: 46px;
        margin-top: 15px;
    }
}
