.button_like_gallery {
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    border: none;
    flex-shrink: 0;
    align-self: center;
    }

.button_like_gallery:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s linear;
}

.button_like_gallery_active {
    cursor: pointer;
    background-image: url(../../../images/like_black.svg);
    transition: transform 0.3s linear;
}
